.footer{
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    padding: 0.7rem;
    color: #fff;
    text-align: center;
    background-color: rgb(2, 30, 86);
  }

  p{
      margin: 0;
      padding: 0;
  }